@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

body {
  font-size: 62.5%;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 1rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
}

button {
  font-family: "Rubik", sans-serif;
}
