body {
  background-color: $primary-background;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 85%;
  max-width: 70rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.6rem;
}

.card {
  border-radius: $border-radius;
  background-color: $secondary-background;
}

@media screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
